@define-color bg rgba(40, 40, 40, 0.9);        /* Gruvbox dark0 */
@define-color bg-alt rgba(60, 56, 54, 0.8);    /* Gruvbox dark1 */
@define-color border #665c54;                  /* Gruvbox gray */
@define-color text #ebdbb2;                    /* Gruvbox light1 */
@define-color text-alt #fbf1c7;                /* Gruvbox lightest */
/*@define-color accent #9289d9;*/                  /* Gentoo purple */
@define-color accent #ffa500;                  /* Gruvboxorange */
@define-color accent-alt #83a598;              /* Gruvbox blue (cooler highlight) */



* {
    font-family: 'MesloLGS NF', 'Symbols Nerd Font', 'Meslo LG S', monospace;
    font-size: 26px;
    border-radius: 26px;;
}

window {
    margin: 0px;
    padding: 8px;
    border: 1px solid @border;
    background-color: @bg;
    border-radius: 16px;
}

#input {
margin: 4px 8px;
    padding: 8px;
    border: none;
    color: @text-alt;
    background-color: @bg-alt;
    border-radius: 12px;
}

#inner-box {
    margin: 4px;
    padding: 8px;
    background-color: transparent;
}

#outer-box {
    margin: 4px;
    padding: 8px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    padding: 8px;
    background-color: transparent;
}

#entry {
    padding: 6px 8px;
    background-color: transparent;
    border-radius: 8px;
}

#entry:selected {
    background-color: @bg-alt;
    border: 1px solid @accent;
}

#text {
    color: @text;
    margin: 2px;
}

#entry:selected #text {
    color: @accent-alt;
    font-weight: bold;
}

#input image {
    color: @accent;
}

#input * {
    outline: 2px solid @accent;
    border-radius: 8px;
}

