@define-color bg rgba(20, 20, 16, 0.9);        /* Mil background */
@define-color bg-alt rgba(42, 40, 32, 0.85);   /* Mil bg_dark */
@define-color border #b87333;                  /* Mil copper */
@define-color text #c3b091;                    /* Mil foreground */
@define-color text-alt #8b3a3a;                /* Mil muted red */
@define-color accent #a89152;                  /* Mil gold */
@define-color accent-alt #5b6d3e;              /* Mil olive */



* {
    font-family: 'MesloLGS NF', 'Symbols Nerd Font', 'Meslo LG S', monospace;
    font-size: 26px;
    border-radius: 26px;;
}

window {
    margin: 0px;
    padding: 8px;
    border: 1px solid @border;
    background-color: @bg;
    border-radius: 16px;
}

#input {
margin: 4px 8px;
    padding: 8px;
    border: none;
    color: @text-alt;
    background-color: @bg-alt;
    border-radius: 12px;
}

#inner-box {
    margin: 4px;
    padding: 8px;
    background-color: transparent;
}

#outer-box {
    margin: 4px;
    padding: 8px;
    background-color: transparent;
}

#scroll {
    margin: 0px;
    padding: 8px;
    background-color: transparent;
}

#entry {
    padding: 6px 8px;
    background-color: transparent;
    border-radius: 8px;
}

#entry:selected {
    background-color: @bg-alt;
    border: 1px solid @accent;
}

#text {
    color: @text;
    margin: 2px;
}

#entry:selected #text {
    color: @accent-alt;
    font-weight: bold;
}

#input image {
    color: @accent;
}

#input * {
    outline: 2px solid @accent;
    border-radius: 8px;
}

